# Ignorer tous les fichiers qui commencent par
.*
# Ignorer Tous les fichiers d'extensions
*.tmp
*.docx
*.xlsx
*.xlsb
*.one
# Ignorer les fichiers temporaires
*~
# Ignorer les fichiers générés par le compilateur
*.class
# Ignorer le contenu des dossiers
/WorkItems
/Temp


